/* typography */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Merriweather:ital,wght@0,300;1,300&display=swap');

$font: "Dancing script";

// body font styling vars
$body-font-size: 50%;
$body-font-weight: 200;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;